*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
div{
    padding: 20px;
}
h4{
    font-size: 1.2rem;
}
body{
    max-width: 100%;
    min-height: 100vh;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}
header > ul{
    display: flex;
    justify-content: flex-end;
    margin: 50px 0px 0px 0px;
    align-items: baseline;
}
ul > li{
    padding: 0px 10px;
    color: black;
}
main{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-basis: 700px;
    justify-content: space-around;
    align-content: space-around;
    flex-shrink: 1;
    
}
main > div{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    margin: 3px 1px;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    flex-shrink: 1;
   
}
:is(.signal, .connect){
    background-color: red;
    color: white;
}
.signal{
    flex-basis: 66%;
    justify-content: flex-start;
    flex-direction: row;
}
.signal-level{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 1em;
}
.signal-level > span{
    margin-right: 1px;
}
.signal-level>span:not(:first-child){
    border: 1px solid grey;
}
.level-1{
    height: 20px;
    width: 15px;
    border: 1px solid white;
    
}
.level-2{
    width: 15px;
    height: 32px;
}
.level-3{
    width: 15px;
    height: 42px;
}
.level-4{
    width: 15px;
    height: 50px;
}
.signal-status{
    position: relative;
}
.signal-status > h1{
    margin-bottom: 5px;
    font-size: 1.4rem;
}
.signal-status > p{
    font-size: 0.8rem;
}
.signal-status > p > img{
    width: 16px;
    position: absolute;
    left: 0;
    align-items: baseline;
}
.connect{
    flex-basis: 33%;
}
:is(.signal, .connect,.usage, .more, .sms, .settings){
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}
:is(.sms, .settings){
    flex-basis: 49.5%;
}
.logo > img{
    width: 100%;
    height: 100%;
}
.usage{
     color: blueviolet;
}
.more{
    color: greenyellow;
}
.sms{
    color: blue;
}
.connect-btn{
    border: 1px solid white;
    width: 80px;
    height: 1px;
    border-radius: 20px;
    position: relative;
}
.connect-btn::before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: green;
    top: 0;
    right: 0;
}

/* Media querries */
@media screen and (max-width:817px) {
    main{
        flex-basis: 500px;
    }
    main > div{
        flex-basis: 30%;
    }
}
@media screen and (max-width:625px) {
    :is(.connect,.usage, .logo, .more, .sms, .settings){
        flex-basis: 100%;
    }
    .logo{
        padding: 2em;
    }
}